/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.12.2016, 0:44:16
    Author     : Atte Putkonen, 0418378
*/

.root {
    -fx-background-image: url("backgroundBottomRight.jpg");
    -fx-background-position: bottom right;
}

#tabPane .tab-header-area .tab-header-background {
    -fx-background-color: #0005e1;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0005e1;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

#infoLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff0033; 
    -fx-effect: dropshadow( gaussian, #0005e1, 0,0,0,1);
}

#titleText {
    -fx-font-size: 25px;
    -fx-font-family: "Times New Roman";
    -fx-fill: #ffffff;
    -fx-effect: innershadow( three-pass-box, rgba(238,100,50,0),6,0.0,0,2);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:  linear-gradient(#4c52ff, #0005e1);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6),5,0.0,0,1);
}
.button:hover {
    -fx-background-color: linear-gradient(#0005e1, #4c52ff);
}

.list-view .list-cell:even {
    -fx-background-color: #4c52ff;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #0005e1;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.combo-box .cell {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:   linear-gradient(#4c52ff, #0005e1);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6),5,0.0,0,1);
}